In [1]:
pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.8.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.6.1)

In [2]:
import pandas as pd
import json

### ***Extraction of data***

In [3]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://sandeep:wdgp3hLbP*******@sandeepetl.nkwlx.mongodb.net/?retryWrites=true&w=majority&appName=SandeepETL"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [4]:
import requests

url = "https://covid-19-tracking.p.rapidapi.com/v1"

headers = {
	"x-rapidapi-key": "8297719003mshc435ba82c639348p10cc1djsn12d620e18571",
	"x-rapidapi-host": "covid-19-tracking.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

### ***Transforming data***

In [5]:
df=pd.DataFrame(response.json())

In [6]:
df.columns

Index(['Active Cases_text', 'Country_text', 'Last Update', 'New Cases_text',
       'New Deaths_text', 'Total Cases_text', 'Total Deaths_text',
       'Total Recovered_text'],
      dtype='object')

In [7]:
df["Last Update"]=df["Last Update"].fillna('2024-08-30 19:00')

In [8]:
df['New Cases_text']=df['New Cases_text'].replace({'0':0, '':0})
df['Active Cases_text']=df[['Active Cases_text']].fillna(0)
df['New Deaths_text']=df['New Deaths_text'].fillna(0)
df['Total Recovered_text']=df['Total Recovered_text'].fillna(0)
df['Active Cases_text']=df['Active Cases_text'].replace({'+790':790, '':0, 'N/A':0, '+350':350, '+50':50, '+390':390, '+20':20, '+14':14})
df['New Deaths_text']=df['New Deaths_text'].replace({'0':0, '':0})
df['Total Recovered_text']=df['Total Recovered_text'].replace({'':0,'N/A':0})
df['Total Cases_text']=df['Total Cases_text']
df['Total Cases_text']=df['Total Cases_text'].fillna(0)
df['Total Deaths_text']=df['Total Deaths_text'].fillna(0)
df['Total Recovered_text']=df['Total Recovered_text'].fillna(0)
df['Total Cases_text']=df['Total Cases_text'].str.replace(',', '').astype(float)
df['Total Deaths_text']=df['Total Deaths_text'].replace({'':0})
df['Total Deaths_text']=df['Total Deaths_text'].str.replace(',', '').astype(float)
df['Total Recovered_text']=df['Total Recovered_text'].str.replace(',', '').astype(float)

In [9]:
data=df.dropna()
data=data.rename(columns={'Active Cases_text':'Active_Cases', 'Country_text':'Country', 'New Cases_text':'New_Cases',
       'New Deaths_text':'New_Deaths', 'Total Cases_text':'Total_Cases', 'Total Deaths_text':'Total_Deaths',
       'Total Recovered_text':'Total_Recovered'})
data['Last Update'] = pd.to_datetime(data['Last Update'])

In [10]:
data.head(10)

,Active_Cases,Country,Last Update,New_Cases,New_Deaths,Total_Cases,Total_Deaths,Total_Recovered
0,790,World,2024-09-04 18:21:00,0.0,0,704753890.0,7010681.0,675619811.0
1,0,USA,2024-09-04 18:21:00,0.0,0,111820082.0,1219487.0,109814428.0
3,0,France,2024-09-04 15:21:00,0.0,0,40138560.0,167642.0,39970918.0
4,0,Germany,2024-09-04 18:21:00,0.0,0,38828995.0,183027.0,38240600.0
5,0,Brazil,2024-09-04 11:20:00,0.0,0,38743918.0,711380.0,36249161.0
6,0,S. Korea,2024-09-03 07:15:00,0.0,0,34571873.0,35934.0,34535939.0
8,0,Italy,2024-09-04 11:20:00,0.0,0,26723249.0,196487.0,26361218.0
9,0,UK,2024-09-04 18:21:00,0.0,0,24910387.0,232112.0,24678275.0
10,0,Russia,2024-09-04 15:21:00,0.0,0,24124215.0,402756.0,23545818.0
12,0,Spain,2024-09-04 14:21:00,0.0,0,13914811.0,121760.0,13762417.0

### ***Loading DATA into MongoDB***

In [11]:
data.to_json('data_mongo.json', orient='records', lines=True,date_format='iso')

In [ ]:
client = MongoClient(uri, server_api=ServerApi('1'))
db = client['ETL_ex']
collection = db['covid_data']
with open('data_mongo.json') as file:
    data_mongo = [json.loads(line) for line in file]
collection.insert_many(data_mongo)

In [13]:
data['Total_Recovered'].count()

180

#### Snapshot from MongoDB for ***Count Match***

![from_mongoDB.PNG]()