In [1]:
a=[4,4,4,5,5,5,5,5,7,6,6,6,8,8,0,9,1,2,3,3,3,2,2,4]
b=set(a)

In [7]:
c=[]
[c.append((num,a.count(num))) for num in b]
print(c)

[(0, 1), (1, 1), (2, 3), (3, 3), (4, 4), (5, 5), (6, 3), (7, 1), (8, 2), (9, 1)]

In [8]:
!pip install pyspark
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('SparkPractice').getOrCreate()
spark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [9]:
transactions=[
    (4, 'Apples', 1.03),
    (3, 'Apples', 2.68),
    (4, 'Oranges', 4.72),
    (1, 'Apples', 1.94),
    (3, 'Bread', 3.07),
    (1, 'Apples', 0.75),
    (4, 'Bananas', 4.71),
    (2, 'Bread', 2.86),
    (3, 'Bread', 2.61),
    (3, 'Apples', 0.64),
    (1, 'Oranges', 1.60),
    (1, 'Bread', 1.50)
]

schema=['store_id', 'product', 'price']
df1=spark.createDataFrame(data=transactions, schema=schema)
df1.show()

+--------+-------+-----+
|store_id|product|price|
+--------+-------+-----+
|       4| Apples| 1.03|
|       3| Apples| 2.68|
|       4|Oranges| 4.72|
|       1| Apples| 1.94|
|       3|  Bread| 3.07|
|       1| Apples| 0.75|
|       4|Bananas| 4.71|
|       2|  Bread| 2.86|
|       3|  Bread| 2.61|
|       3| Apples| 0.64|
|       1|Oranges|  1.6|
|       1|  Bread|  1.5|
+--------+-------+-----+

In [10]:
df1.select(['product','store_id']).filter(df1['Price']>1).show()

+-------+--------+
|product|store_id|
+-------+--------+
| Apples|       4|
| Apples|       3|
|Oranges|       4|
| Apples|       1|
|  Bread|       3|
|Bananas|       4|
|  Bread|       2|
|  Bread|       3|
|Oranges|       1|
|  Bread|       1|
+-------+--------+

In [19]:
from pyspark.sql import functions as F

df_grouped = df1.groupBy('store_id').agg(F.sum('price').alias('Sum'))
df_grouped.show()

+--------+-----+
|store_id|  Sum|
+--------+-----+
|       1| 5.79|
|       3|  9.0|
|       4|10.46|
|       2| 2.86|
+--------+-----+

In [28]:
df=df1.groupBy(df1['store_id']).agg({'price':'sum'}).alias('Sum').sort(F.asc('store_id'))
df.show()

+--------+----------+
|store_id|sum(price)|
+--------+----------+
|       1|      5.79|
|       2|      2.86|
|       3|       9.0|
|       4|     10.46|
+--------+----------+