<a href="https://colab.research.google.com/github/sandeepgundeboina/SmallApps/blob/main/ReadDataPySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark
!wget https://jdbc.postgresql.org/download/postgresql-42.2.23.jar
!cp postgresql-42.2.23.jar /usr/local/lib/

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
--2024-11-11 09:57:31--  https://jdbc.postgresql.org/download/postgresql-42.2.23.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1005522 (982K) [application/java-archive]
Saving to: ‘postgresql-42.2.23.jar’

postgresql-42.2.23. 100%[===================>] 981.96K  1.17MB/s    in 0.8s

2024-11-11 09:57:32 (1.17 MB/s) - ‘postgresql-42.2.23.jar’ saved [1005522/1005522]

In [2]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("PostgreSQL Connection") \
    .config("spark.jars", "/usr/local/lib/postgresql-42.2.23.jar") \
    .getOrCreate()

#jdbcHostname='ss-sandeep-de.database.windows.net'
#jdbcPort=1433
#jdbcDatabase='database-sandeepde'
#jdbcUser='sandeepde'
#jdbcPassword='Advik4747'
#jdbcDriver='com.microsoft.sqlserver.jdbc.SQLServerDriver'

#jdbcUrl=f"jdbc:sqlserver://{jdbcHostname}:{jdbcPort};databaseName={jdbcDatabase};user={jdbcUser};password={jdbcPassword}"#





jdbcUrl='jdbc:postgresql://ep-summer-flower-a8ttwlet.eastus2.azure.neon.tech/pet_adoption?'

properties = {
    "user": "pet_adoption_owner",
    "password": "E9RfH6azeLJV",
    "driver": "org.postgresql.Driver"
}


try:
    df = spark.read.jdbc(url=jdbcUrl,properties=properties, table='location')
    df.show()
except Exception as e:
    print(f"Error: {e}")

+-----+--------------+--------+--------+------+-----+
|index|      location|exported|imported| total| inus|
+-----+--------------+--------+--------+------+-----+
|    0|         Texas|   635.0|     NaN| 566.0| true|
|    1|       Alabama|   268.0|     2.0|1428.0| true|
|    2|North Carolina|   158.0|    14.0|2627.0| true|
|    3|South Carolina|   139.0|    12.0|1618.0| true|
|    4|       Georgia|   137.0|    19.0|3479.0| true|
|    5|   Puerto Rico|   131.0|     NaN|   NaN|false|
|    6|    California|   130.0|     3.0|1664.0| true|
|    7|   South Korea|    76.0|     NaN|   NaN|false|
|    8|     Tennessee|    66.0|    20.0|1769.0| true|
|    9|      Kentucky|    57.0|     4.0|1123.0| true|
|   10|   Mississippi|    55.0|     NaN| 510.0| true|
|   11|        Mexico|    54.0|     NaN|   NaN|false|
|   12|     Louisiana|    53.0|     NaN| 912.0| true|
|   13| West Virginia|    50.0|     NaN| 565.0| true|
|   14|       Florida|    49.0|    32.0|2659.0| true|
|   15|      Arkansas|    47.0|     1.0| 695.0| true|
|   16|         China|    28.0|     NaN|   NaN|false|
|   17|    New Mexico|    27.0|     NaN| 636.0| true|
|   18|      Thailand|    20.0|     NaN|   NaN|false|
|   19|      Virginia|    20.0|   183.0|3058.0| true|
+-----+--------------+--------+--------+------+-----+
only showing top 20 rows

In [3]:
print(spark.sparkContext._jsc.sc().listJars())

Vector(spark://147411d2684a:46525/jars/postgresql-42.2.23.jar)

In [4]:
display(df)

DataFrame[index: int, location: string, exported: string, imported: string, total: string, inus: boolean]

In [5]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("JDBC Connection") \
    .getOrCreate()

In [6]:
spark